<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>

    <header>
        <div class="logo-y-busqueda">
            <img class="logo-mercado" alt="logo MercadoLiebre" src="images/logo-mercado-liebre.svg" />
            <div class="contenedor-de-busqueda">
                <input type="text" class="input-busqueda" placeholder="Buscar productos, marcas y más"><button><i
                        class="fas fa-search"></i></button></input>
            </div>
            <div class="tarjeta-de-credito">

                <i class="fas fa-hand-holding-usd"></i>
                <span> Comprá en cuotas y sin tarjeta de crédito </span>

            </div>
        </div>

        <div class="contenedor-navbar">
            <nav class="contenedor-ofertas">
                <ul class="lista-oferta">

                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li> Ayuda</li>

                </ul>
            </nav>
            <nav class="contenedor-ingresá">
                <ul class="contenedor-lista-ingresá">

                    <li><a href="register.html">Creá tu cuenta<i class="far fa-address-card"></i></li>

                    <li><a href="login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>

                    <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>

                </ul>



            </nav>
        </div>
        <!-- <div class="burger-menu">
            <i class="fas fa-bars"></i>
            <form action="/login" method="POST">
                <p>
                    <label>Nombre:</label>
                    <input type="text" name="usuario">
                </p>
                <p>
                    <label>Elegí tu contraseña:</label>
                    <input type="contraseña" name="contraseña">
                </p>
                <p>
                   <button type="submit">Enviar</button>
                </p>
            </form> -->
            
        </div>

    </header>
    <section>
        <img class="logo-banner" alt="logo-banner" src="images/img-home-banner.jpg" />
    </section>

    <main>

        <section>

            <h2> Basado en tu última visita </h2>
            <div class="productos">
                <article>

                    <!--Esto es imagen del próducto cafetera-->
                    <img src="/images/img-cafetera-moulinex.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="precio-descuento">

                            <span class="precio"> $6.770 </span>


                            <span class="Descuestos"> 40% OFF </span>

                        </div>


                        <span class="Descripciones">Cafetera Moulinex</span>

                    </div>

                </article>

                <!--Esto es imagen del próducto macbook-->
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">

                        <i class="fas fa-shipping-fast"></i>

                        <div class="precio-descuento">

                            <span class="precio"> $230.000 </span>


                            <span class="Descuestos"> 20% OFF </span>


                        </div>
                        <span class="Descripciones">MacBook Pro 2019</span>


                    </div>

                </article>

                <!--Esto es imagen del próducto samsung-->

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">

                        <i class="fas fa-shipping-fast"></i>

                        <div class="precio-descuento">

                            <span class="precio"> $70.500 </span>

                            <span class="Descuestos"> 10% OFF </span>
                        </div>

                        <span class="Descripciones"> Samsung Galaxy S10</span>

                    </div>

                </article>

                <!--Esto es imagen del próducto SmartTv-->
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">
                        <i class="fas fa-shipping-fast"></i>

                        <div class="precio-descuento">


                            <span class="precio"> $23.200 </span>


                            <span class="Descuestos"> 5% OFF </span>

                        </div>

                        <span class="Descripciones">SmartTv Samsung 43 </span>

                    </div>
                </article>
            </div>
        </section>

        <!--sección de ofertas-->

        <section>
            <h2> ofertas </h2>
            <div class="productos">
                <article>

                    <!--Esto es imagen del próducto cafetera-->
                    <img src="/images/img-cafetera-moulinex.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="precio-descuento">

                            <span class="precio"> $6.770 </span>


                            <span class="Descuestos"> 40% OFF </span>

                        </div>


                        <span class="Descripciones">Cafetera Moulinex</span>


                    </div>
                </article>
                <!-- imagen del producto macbook -->

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">

                        <i class="fas fa-shipping-fast"></i>

                        <div class="precio-descuento">

                            <span class="precio"> $230.000 </span>


                            <span class="Descuestos"> 20% OFF </span>


                        </div>
                        <span class="Descripciones">MacBook Pro 2019</span>


                    </div>

                </article>
                <!--Esto es imagen del próducto samsung-->
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">

                        <i class="fas fa-shipping-fast"></i>

                        <div class="precio-descuento">

                            <span class="precio"> $70.500 </span>

                            <span class="Descuestos"> 10% OFF </span>
                        </div>

                        <span class="Descripciones"> Samsung Galaxy S10</span>

                    </div>

                </article>
                <!--Esto es imagen del próducto SmartTv-->
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">
                        <i class="fas fa-shipping-fast"></i>

                        <div class="precio-descuento">


                            <span class="precio"> $23.200 </span>


                            <span class="Descuestos"> 5% OFF </span>

                        </div>

                        <span class="Descripciones">SmartTv Samsung 43 </span>

                    </div>
                </article>
            </div>
        </section>

    </main>
     
    <footer>

        <div class= "contenedor-de-footer">
            <div class="credit-card">
                <i class="fas fa-credit-card"></i>
                <h4> Pagá con tarjeta o en efectivo </h4>

                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!

                </p>

            </div>
            <div class="envio-gratis">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>

                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div class="seguridad">

                <i class="fas fa-user-shield"></i>
                <h4> Seguridad, de principio a fin</h4>

                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>

            </div>
        </div>
        <div class="copyright"><h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>

</html>