<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>

    <header>
        <div class="logo-y-busqueda">
            <img class="logo-mercado" alt="logo MercadoLiebre" src="images/logo-mercado-liebre.svg" />
            <div class="contenedor-de-busqueda">
                <input type="text" class="input-busqueda" placeholder="Buscar productos, marcas y más"><button><i
                        class="fas fa-search"></i></button></input>
            </div>
            <div class="tarjeta-de-credito">

                <i class="fas fa-hand-holding-usd"></i>
                <span> Comprá en cuotas y sin tarjeta de crédito </span>

            </div>
        </div>

        <div class="contenedor-navbar">
            <nav class="contenedor-ofertas">
                <ul class="lista-oferta">

                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li> Ayuda</li>

                </ul>
            </nav>
            <nav class="contenedor-register">
                <ul class="contenedor-lista-ingresá">

                    <li><a href="register.html">Creá tu cuenta<i class="far fa-address-card"></i></li>

                    <li><a href="login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>

                    <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>

                </ul>



            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <section>
        <img class="logo-banner" alt="logo-banner" src="images/img-home-banner.jpg" />
    </section>

    <main>
        <form action="javascript:void(0);" method="post">
            <div class="caja-login">
                <div class="container-del-container">

                </div>
                <h1 class="login-title">Inicia Sesión con tu Usuario</h1>
                <div class="container-door">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="container-username">
                    <label for="username"></label>
                    <input type="text" name="username" id="username" placeholder="Ingresá tu nombre de usuario">
                </div>
                <div class="container-password">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña">
                    
                </div>
                <div class="container-button">
                    
                    
                    <button class="button-ingresar" onclick="location.href='/'"> Ingresar</button>
                    
            
                </div>
                <div class="container-rememberme">
                    <label for="remember-me"></label>
                    <p class="p-rememberme">
                        Recordar mi cuenta</p>
                    <div class="container-checkbox">
                        <input type="checkbox" name="remember-me" id="remember-me" checked>
                    </div>
                </div>
            </div>

        </form>
        <footer>

            <div class="contenedor-de-footer">
                <div class="credit-card">
                    <i class="fas fa-credit-card"></i>
                    <h4> Pagá con tarjeta o en efectivo </h4>

                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!

                    </p>

                </div>
                <div class="envio-gratis">
                    <i class="fas fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>

                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>

                <div class="seguridad">

                    <i class="fas fa-user-shield"></i>
                    <h4> Seguridad, de principio a fin</h4>

                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>

                </div>
            </div>
            <div class="copyright">
                <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>
        </footer>
</body>

</html>