h1 {
    color:blue;
   
}

header{
background-color:#EAC926;  
padding-bottom: 25px;
}

body{
font-family: 'Roboto', sans-serif;
background-color:#ebebeb;

}

.logo-banner {
    width: 100%;
}

.burger-menu {
    text-align: center;
    margin-top: 25px;
}

.burger-menu i {
    background-color: rgb(41, 41, 223);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.precio{
   font-size: 18px;
}

.Descuestos{
    font-size: 16px;
     width: 70%;
}

.Descripciones{
    font-size: 16px;
    font-weight: bold; 
}

h4 {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}



main {
    
    width: 90%; 
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-logo-searchbar-cart{
    text-align: center; 
}

.contenedor-navbar{
display: none;

}

.Descripciones {
    display: none;
    display: initial;
    


}


.contenedor-de-busqueda {
    width: 50%;
    padding: 20px;
    align-self: center;

}

.logo-mercado {
    width: 50%;
    padding: 20px;
}

.tarjeta-de-credito{
    text-align: center;
    align-self: center;
    display: none;
}

.input-busqueda {
    width: 90%;
}

article {
   margin-bottom: 10px; 
   width: 95%;
}


.contenedor-descripcion-producto {
    position: relative;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    
    
}


.logo-y-busqueda{
    display: flex;
    justify-content: center;
}

.precio {
    width: 30%;
}

.Descuestos{
    color: #39b54a

}

.precio-descuento {
    display: flex;
    
}

* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;

}

.contenedor-descripcion-producto i {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px; 
    transition: initial;
    transition-property:initial
    
    }

.contenedor-descripcion-producto i:hover {

    transition-duration: 0s;
    
}


.productos{
    display: flex;
    flex-wrap: wrap;
}


.product-img {
    width: 100%;
}

.contenedor-ingresá {
    width: 50%;

}

.contenedor-ofertas{
    width: 50%;
}

.lista-oferta {
    padding-left: 20px;
    list-style: none;
    display: flex;
    color: #03264C;

}

.lista-oferta li {
    padding: 0px 10px;
}

.contenedor-lista-ingresá{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}

.contenedor-lista-ingresá li {
    padding: 0px 10px;
    color: #03264C;
    
}

.contenedor-lista-ingresá li i {
    margin-left: 5px;
}

footer{
 width: 100%;
 text-align: center;
 margin-bottom:  20px;
}

.contenedor-de-footer{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

}

.credit-card{
    width: 33%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    
}

.envio-gratis{
    width: 33%;
    padding: 10px;
    margin-top: 10px;
    text-align: center
}

.seguridad {
    width: 33%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.contenedor-de-footer i {
    color: blue;

}

.caja-login{
    text-align: center;
    border: solid 1px;
    margin: 20px;
    border-radius: 10px;
    font-weight: 45px;    
}


.caja-login input{
    outline: none;
    width: 500px;
    padding: 10px;
    border-radius: 10px;

}

.container-door{
    font-size: 50px;
}

.container-door i {
    color: rgb(44, 44, 252);
}

.container_registro_1 {
    width: 300px;
}

.container_registro_2 {
    border-radius:  100px;
    padding: 10px;
    background-color: #ebebeb;
    width: 300px;
    color: black;
}

.container_registro_2 i {
    font-size: 50px;
    color: rgb(44, 44, 252);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.container_registro-icono {
    text-align: center;
}

.container_registro_2 form span {
    display: block;
    font-weight: bold;
    padding: 10px 0px;
}

.container_registro_2 input[type=radio] {
    width: auto;
    margin: 0px 50px;
  }

  .container_registro_2 input[type=checkbox] {
    width: auto;
    margin: 0px 50px;
  }


.container_registro_2 form input {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .container_registro_2 form button {
    width: 100%;
    background-color: #0022AA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .container_registro_2 form .Interes-del-usuario div {
      padding: 10px 0px;
  }

.contraseña {
    padding: 10px;
}


.button-ingresar{
    margin: 10px;
    background-color:#ebebeb;
    color: black;
    border-radius: 10px; 
    width: 300px;
    padding:10px;
   
}

.button-ingresar:hover{
    background-color: #0022AA;
    color: black;

}

.container-username{
 padding: 20px;

 

}

.container-password{
 padding: 20px;
 
}

/* Navegación en tablet  */
@media(min-width:426px) and (max-width: 768px) {
    .productos article {
        width: 48%;
        margin: 2px;
    }
}

 /* Navegación en desktop  */
 @media ( min-width:769px) {
    .productos article { 
     width: 24%;
     margin:2px;
 
    }

    .Descripciones {
        visibility: hidden;
    }

    .contenedor-descripcion-producto:hover .Descripciones{
        visibility:visible;
    }
 }

  /* Navegación en tablet y desktop  */
  @media (min-width:426px) {
    .contenedor-navbar{
        display: flex;
    }  

    .burger-menu{
         display: none; 
    }

    article{
        box-shadow : 0px 0px 10px rgb(100,100,100);
    }

    
   .logo-mercado {
       height: 100px;
       width: 30%;
   }

   .contenedor-de-busqueda {
        width: 28%;
        padding: 15px;
    }

    .tarjeta-de-credito{
        display: initial;
    }
    
    .container_registro_2 {
        width: 500px;
    }

    .container_registro_1 {
        width: 500px;
    }
 }
